Options +FollowSymLinks
RewriteEngine On

RewriteRule ^home index.php
RewriteRule ^subscription index.php?p=subscription [L]
RewriteRule ^connexion index.php?p=connexion [L]
RewriteRule ^inscription index.php?p=inscription [L]
RewriteRule ^profil index.php?p=profil [L]
RewriteRule ^theme-([0-9]+) index.php?p=theme&t=$1 [L]
RewriteRule ^video-([0-9]+) index.php?p=video&vId=$1 [L]
RewriteRule ^purchase index.php?p=purchase [L]
RewriteRule ^condition index.php?p=condition [L]
RewriteRule ^unsub index.php?p=unsub [L]
RewriteRule ^deleteAccount index.php?p=deleteAccount [L]
RewriteRule ^refreshComms index.php?p=refreshComms [L]
RewriteRule ^applyFilters index.php?p=applyFilters [L]
RewriteRule ^search index.php?p=search [L]