/*CSS Stylesheet

*/

/*Page Connexion*/

.bodyConnexion{
    min-height: 100vh;
}


.formulaire{
    text-align: center !important;
    color: darkgrey;
    margin: 0 auto !important;
    border-radius: 20px;
    background: lightgray;
    margin-top:5% !important;
    height: 80%;
}

.titleConnexion{
    color: #B40431;
    margin: 20px ;
}

.containImgFormConnexion{
    width:30%;
    height:20%;
    margin: 0 auto !important;

}

.imgFormConnexion{
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
    width: 100%;
    bordel-color: #B40431;
}

.formulaireChamps{
    text-align: center;
}

.labelFormConnexion{
    color: #B40431;
}

.labLogin{
    margin-top: 4% ;
}

.formulaireInput{
    margin: 0 auto !important;
    width: 60% !important;
}

.inputMdpConnexion{
    margin-bottom: 4% !important;
}

.linkFormConnexion{
    color: #B40431;
}
.BoutonConnexion{
    color: whitesmoke;
    background-color: #B40431;
    text-align: left;
    margin-bottom: 20px;
}
.BoutonInscription{
    color: whitesmoke;
    background-color: #B40431;
    text-align: left;
    margin-bottom: 20px;
}
.BoutonConnexion:hover {
    background-color: #fb3768;
}

.BoutonInscription:hover {
    background-color: #fb3768;
}

.alert{
    color: red;

}




/* Page Home */
.BoutonHomeRecherche{
    color: whitesmoke;
    background-color: #B40431;
    text-align: center;
}

.BoutonHome{
    color: whitesmoke;
    background-color: #B40431;
    text-align: center;
}
.BoutonHomeDeconnexion{
    color: whitesmoke;
    background-color: #B40431;
    text-align: center;
    margin-left: 10%;
}

.BoutonHomeConnexion{
    color: whitesmoke;
    background-color: #B40431;
    margin-left: 90%;
}

.BoutonHomeConnexion:hover {
    background-color: #fb3768;
}

.BoutonRecherche{
    margin-right: 3%;
}
.BoutonHomeDeconnexion:hover {
    background-color: #fb3768;
}
.BoutonHome:hover {
    background-color: #fb3768;
}

.inputHome{
    border-color: #B40431;
}
.inputHome:hover{
    border-color:  #fb3768;
}
.list-group-item{
    color: #B40431 !important;
}
.titreVideo{
    color: #B40431 !important;
}
.text-muted{
    color: #B40431 !important;
}
.titreSite{
    color: #B40431 ;
}




/* Page Inscription*/
.bodyInscription{
    min-height: 100vh;

}

.titleInscription{
    color: #B40431;
    margin: 2%;
    text-align: center;

}
.formulaireInscription{
    color: darkgrey;
    margin: 0 auto !important;
    border-radius: 20px;
    background-image: linear-gradient(white, lightgray);
    margin-top:5% !important;
}


.lab{
    color: #B40431;
    text-align: left !important;
}

.inscriptionInputMail{
    text-align: left !important;
    width: 100%;
}

.inscriptionInputMdp{
    margin-left: 18%;
    width: 60%;
}
.BoutonInscriptionForm{
    color: whitesmoke;
    background-color: #B40431;
    text-align: left;
    margin-bottom: 4% !important;
}
.colonneMdp{
    text-align: center !important;
}
.avatarInscription{
    margin-bottom: 4% !important;
}

#textComm{
    height: 100%;
}

body{
    min-height: 100% !important;
}



/* Page Profil */

.bodyProfil{
    min-height: 100vh;
}

.containerProfil{
    background-image: linear-gradient(white, lightgray);
    margin: 0 auto !important;
    border-radius: 20px;
    margin-top: 3% !important;
}

.ChampProfil{
    margin-left:15% !important;
    margin-top: 4% !important;
}
.ChampProfilEdit{
    margin-left:10% !important;
}



.photoProfil{
    width: 20% !important;
    margin-top: 4% !important;
    margin-left:10% !important;
}

.avatarNavBar{
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
}
.divProfilNavBar{
    width: 15%;
    margin-right: 10% !important;
}
.avatar{
    width: 80%;
    height: 80%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
}
.labProfil{
    color: #B40431;
}


.nameNavBar{
    padding-left: 10%;
}
.BoutonEditPassword{
    color: whitesmoke;
    background-color: #B40431;
    text-align: center;
    margin-bottom: 3% !important;
    margin-left: 6%;
}
.glyphicon{
    margin-left: 10%;
    width: 15%;
}

.BarreRecherche{
    width: 50%;
}
.BoutonFormEditProfil{
    color: whitesmoke;
    background-color: #B40431;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 10% !important;
}
.BoutonFormEditMdp{
    color: whitesmoke;
    background-color: #B40431;
    text-align: center;

    margin-bottom: 6% !important;
}


.BoutonEditProfil{
    color: whitesmoke;
    background-color: #B40431;
    text-align: center;
    margin-left: 8%;
}

.BoutonFormEditMdp:hover{
    background-color: #fb3768;
}
.BoutonEditPassword:hover{
    background-color: #fb3768;
}
.BoutonEditProfil:hover{
    background-color: #fb3768;
}

.BoutonFormEditProfil:hover{
    background-color: #fb3768;
}
.BoutonSubscribe{
    color: whitesmoke;
    background-color: #B40431;
    text-align: center;
    margin-left: 15%;
}
.BoutonSubscribe:hover{
    background-color: #fb3768;
}

.mailEdit{
    margin-bottom: 3%;
}
.formulaireEditProfil{
    margin-bottom: 10%;
}


/* Page Video */

.videoContain{

}
.videoWatch{
    margin-left: 7%;
}

.btnPurchase{
    margin-top:26.8% !important;
    color: whitesmoke;
    background-color: #B40431;
    width: 20% !important;
    padding-bottom: 2% !important;
    padding-top: 2% !important;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}


.btnPurchase:hover{
    background-color: #fb3768;
}
.bodyVideo{
    width: 100%;
    pading:0 !important;
    margin: auto !important;
}
.frame{
    position: relative;

}
.frameLock{
    height: 100%;
    width: 100%;
    background-color: RGBa(0,0,0,0);
    position: absolute;
    text-align: center;

}


/* Page Subscription */


.bodySub{
    width: 100%;
    min-height: 100vh;
    pading:0 !important;
    margin: auto !important;
    background-image: linear-gradient(white, lightgray);
}
.containerAbo{
    background-size: 100%;

}


.UL{
    margin-bottom:1.4rem;
}
.ULli {
    margin-bottom:1.4rem;
}
.pricing-divider {
    border-radius: 20px;
    background: #ff6666;
    padding: 1em 0 4em;
    position: relative;
}
.blue .pricing-divider{
    background: #B40431;
}
.green .pricing-divider {
    background:#990000;

}
.pricining-item{
    height: 75vh !important;
}
.green{
    margin-bottom: 10%;
}
.pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
}
.deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.btn-custom  {
    background:#C64545; color:#fff; border-radius:20px
}

.img-float {
    width:50px; position:absolute;top:-3.5rem;right:1rem
}

.princing-item {
    transition: all 150ms ease-out;
}
.princing-item:hover {
    transform: scale(1.05);
}
.princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
}
.princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
}

.titleTheme{
    font-size: 150%;
}









/* Page Purchase */

.bodyPurchase{
    min-height: 100vh;

}
.containerPurchase{
    width: 60%;
    margin-top: 10%;
}


.align-items-left{
    margin-left: 3%;
    width: 70%;
}
.Price{
    text-align: right;
    margin-left: 20%;
}

.btnAchatVideo{
    color: whitesmoke;
    background-color: #B40431;
    border:none;

}
.btnAchatVideo:hover{
    background-color: #fb3768;

}






.filterButtonBuy{
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
}





html{
    font-family:  "Arial";
    position: relative !important;
    min-height: 100% !important;

}



.linkFormConnexion:hover {
    color: black;
}

.priceAbo{
    font-size: 70px;
}

h2{
    text-align: center;
}

.subscriptionContainer{
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-color: #B40431;
    border-radius: 10%;
    border-style: groove;
    background-color: blanchedalmond;

}




.listVideo{
    margin-bottom: 4%;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
}

.connexionForm{

    margin-bottom: 10% !important;
}
.btnComm{
    margin-bottom: 10% !important;

}







