/*CSS Stylesheet

*/

/*Page Connexion*/
.formulaire{
    text-align: center !important;
    color: darkgrey;
    margin: 0 auto !important;
    border-radius: 20px;
    background: lightgray;
    margin-top:5% !important;
    height: 80%;
}

.titleConnexion{
    color: #B40431;
    margin: 20px ;
}

.containImgFormConnexion{
    width:30%;
    height:20%;
    margin: 0 auto !important;

}

.imgFormConnexion{
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
    width: 100%;
    bordel-color: #B40431;
}

.formulaireChamps{
    text-align: center;
}

.labelFormConnexion{
    color: #B40431;
}

.labLogin{
    margin-top: 4% ;
}

.formulaireInput{
    margin: 0 auto !important;
    width: 60% !important;
}

.inputMdpConnexion{
    margin-bottom: 4% !important;
}

.linkFormConnexion{
    color: #B40431;
}
.BoutonConnexion{
    color: whitesmoke;
    background-color: #B40431;
    text-align: left;
    margin-bottom: 20px;
}
.BoutonInscription{
    color: whitesmoke;
    background-color: #B40431;
    text-align: left;
    margin-bottom: 20px;
}
.BoutonConnexion:hover {
    background-color: #fb3768;
}

.BoutonInscription:hover {
    background-color: #fb3768;
}

.alert{
    color: red;
}




/* Page Home */
.BoutonHome{
    color: whitesmoke;
    background-color: #B40431;
    border-color: whitesmoke;
    text-align: center;
}

.BoutonHome:hover {
    background-color: #fb3768;
}

.inputHome{
    border-color: #B40431;
}
.inputHome:hover{
    border-color:  #fb3768;
}
.list-group-item{
    color: #B40431 !important;
}
.titreVideo{
    color: #B40431 !important;
}
.text-muted{
    color: #B40431 !important;
}



/* Page Inscription*/

.titleInscription{
    color: #B40431;
    margin: 2%

}
.formulaireInscription{
    text-align: center !important;
    color: darkgrey;
    margin: 0 auto !important;
    border-radius: 20px;
    background: lightgray;
    margin-top:5% !important;
    height: 80%;
}

.colonne{
    text-align: left;

}
.lab{
    color: #B40431;
}

.inscriptionInputMail{
    text-align: left !important;
    width: 200%;
}

.inscriptionInputMdp{
    text-align: left !important;
    width: 100%;
}
.BoutonInscriptionForm{
    color: whitesmoke;
    background-color: #B40431;
    text-align: left;
    margin-bottom: 4% !important;
}

.labMdp{
    color: #B40431;

}

.labPseudo{
   margin-left:60%;
    color: #B40431;

}
.inscriptionInputPseudo{
    margin-left:60%;
}

















div{
    font-family:  "Lucida Console", Monaco, monospace
}


.filterButtonBuy{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.6);
    width: 100%; 
    height: 100%;
}

.containerProfil{
    margin: 0 auto !important;
    border-radius: 20px;
    border-color:#B40431;
    background: antiquewhite;
    border-style: dotted;
    padding: 10px;
}

.ChampProfil{
    margin: 0 auto !important;
}

.photoProfil{
    margin: 0 auto !important;
}

.editForm{
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}


html{
    font-family:  "Lucida Console", Monaco, monospace;
}

.avatar{
-moz-border-radius:100%;
-webkit-border-radius:100%;
border-radius:100%;
}


.linkFormConnexion:hover {
    color: black;
}

.priceAbo{
    font-size: 70px;
}

h2{
    text-align: center;
}

.subscriptionContainer{
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-color: #B40431;
    border-radius: 10%;
    border-style: groove;
    background-color: blanchedalmond;

}
