.formulaire h1{
    color: #B40431;
    margin: 20px ;
}
.formulaireChamps{
    text-align: center;
}

.formulaire{
    text-align: center !important;
    color: darkgrey;
    margin: 0 auto !important;
    border-radius: 20px;
    border-color:#B40431;
    background: antiquewhite;
    border-style: dotted;
}

.formulaireInscription{
    text-align: center !important;
}


.formulaire form{
    width: 40% !important;
    margin: 0 auto !important;
}

.video iframe{ 
    width: 100%; 
}

.purchasable{
    filter: blur(2px);
    opacity: .5;
}

.locked{
    position: absolute;
}

.formulaireInput{
    margin: 0 auto !important;

    width: 100%;
}



.formulaire div{
    margin: 0 auto !important;

}

.firstColonne{
    text-align: center;

}

.secondColonne{
    text-align: center;

}

.formulaireInput2 {
    margin: 0 auto !important;
    width: 50%;
}


.lab{
    text-align: left !important;
}



.BoutonForm{
    color: whitesmoke;
    background-color: #B40431;
    text-align: left;
    margin-bottom: 20px;


}
.BoutonFormInscription{
    color: whitesmoke;
    background-color: #B40431;
    text-align: left;
    margin-bottom: 20px;
}

.container{
    font-family:  "Lucida Console", Monaco, monospace
}